
    <div class="section-inner">
    <header class="section-header">
        <h1>Samples &amp; Solutions</h1>
        <p>Samples, ready-to-use solutions, templates, and starter kits.</p>
    </header>
        <menu class="section-grid">
            {{ $section := .Site.GetPage "section" "samples" }}
            {{ range sort $section.Pages "Title" "asc"}}
                        <li>
            {{ partial "organisms/cards/sample" .Params }}
                        </li>
            {{ end }}
        </menu>
    </div>
