section:target:before {
    content: "";
    display: block;
    height: 80px;
    /* Give height of your fixed header */
    margin: -80px 0 0;
    /* Negative top margin of header height */
}

a.card-link, a.blog-link {
    text-decoration: none;
}

svg.icon-bluesky.icon-svg {
    fill: #1185fe;
}