@use '../00-base/designtoken.vars' as dt;

.people {

    display: grid;
    grid-template-columns: auto 4.5rem;
    grid-column: 1 / span 1;
    backdrop-filter: saturate(100%);

    .card-header {
        h1 {
            display: flex;
            gap: 1rem;
        }

        .profile-title {
            font-size: 0.8em;
        }
    }

    .card-main {
        grid-column: 1 / span 1;
        grid-row: 1;
        backdrop-filter: blur(10px);
        overflow: hidden;
        overflow: clip;
        ;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;

        justify-content: center;

    }

    .card-side {
        grid-column: 2;
        border-radius: 0 1rem 1rem 0;
        overflow: clip;
        border: 1px solid white;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.35));

        &::before {
            display: none;
        }

        &::after {
            content: " ";
            position: absolute;
            height: 50%;
            width: 4px;
            background-color: dt.$blue;
            overflow: clip;
            border-radius: 2px;
            top: 25%;
            bottom: 25%;
            right: 6px;
        }

    }

    .card-iconbar {
        margin-left: calc(1.25rem - 2px);
        margin-right: calc(1.25rem + 2px);
    }

}

.profile-data {
    display: flex;
    gap: 1.5rem;

    h1 {
        margin-top: 0;
        font-size: clamp(1rem, 1.618vw, 1.75rem);
        line-height: 1;
        margin-bottom: 0;
        color: dt.$dark-blue;
    }

}

.profile-mvp {
    margin-block: 0.5em;
    font-size: clamp(1rem, 0.75vw, 1.25rem);
}

.profile-company {
    font-size: clamp(1rem, 1vw, 1.5rem);
    margin-top: .75em;
}

.profile-picture {
    width: clamp(4rem, 7vw, 400px);
    height: clamp(4rem, 7vw, 400px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px white solid;
    flex-shrink: 0;
}

.teams-header {
    box-sizing: border-box;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px) saturate(300%);
    padding: 1.75em 2em;
    border-radius: 1em;

    @media screen and (max-width: 720px) {
        grid-column: 1 / span 1;
        ;
        grid-row: 1 / span 1;
        ;
    }

    h1 {
        font-size: clamp(1.5rem, 1.75vw, 3rem);
        line-height: 1.1;
        color: dt.$dark-blue;
        margin-top: 0;
        ;
    }

    p {
        font-size: clamp(1rem, 1vw, 1.5rem);
    }
}

.teams-end {
    text-transform: uppercase;
    font-weight: 700;
    color: dt.$dark-blue;
    display: flex;
    flex-direction: column;
    just-content: space-around;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
    padding-inline: 1em;
    border-radius: 1rem;
    color: dt.$blue;
    background-color: rgba(255, 255, 255, 0.9);

    p {
        padding: 0;
        margin: .5em;
    }
}