<header class="section-header">
    <h1>Latest blog posts</h1>
    <p>Stay up-to-date with the latest in Microsoft 365 &amp; Power Platform topics</p>
</header>
<div class="section-inner">
    <header>
        <H1></H1>
        <p></p>
    </header>
    <menu class="section-grid">
        <li>
            <article class="card blog">
                <figure class="blog-media">
                    <img src="../../images/blog/blog-sample-1.webp" class="blog-media-img" Som alt text>
                </figure>
                <div class="blog-content">
                    <h2 class="blog-headline">
                        Microsoft 365 PnP Weekly - Episode 242 - Robert Schouten
                    </h2>
                    <p class="blog-excerpt">
                        Microsoft MVP - Robert Schouten joins Microsoft’s Vesa Juvonen and Waldek Mastykarz in a
                        discussion on his career path and community involvement.
                    </p>
                    <div class="blog-meta">
                        <div class="blog-info">
                            <time class="blog-created" datetime="2018-07-07">26 Mar, 2024</time>
                            <div class="blog-author">by Vesa Juvonen</div>
                        </div>
                        <div class="blog-type">
                            <div class="blog-cat">
                                PnP Weekly
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <li>
            <article class="card blog">
                <figure class="blog-media">
                    <img src="../../images/blog/blog-sample-2.webp" class="blog-media-img" Som alt text>
                </figure>
                <div class="blog-content">
                    <h2 class="blog-headline">
                        Weekly Agenda - 25th of March 2024 week
                    </h2>
                    <p class="blog-excerpt">
                        We want to give you a better overview on what’s happening each week.
                    </p>
                    <div class="blog-meta">
                        <div class="blog-info">
                            <time class="blog-created" datetime="2018-07-07">21 Mar, 2024</time>
                            <div class="blog-author">by Vesa Juvonen</div>
                        </div>
                        <div class="blog-type">
                            <div class="blog-cat">
                                Weekly Agenda
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <li>
            <article class="card blog">
                <figure class="blog-media">
                    <img src="../../images/blog/blog-sample-2.webp" class="blog-media-img" Som alt text>
                </figure>
                <div class="blog-content">
                    <h2 class="blog-headline">
                        Power Platform extensibility options
                    </h2>
                    <p class="blog-excerpt">
                        Power Platform extensibility options series Power Platform extensibility options - this
                        article Power Apps Power Automate Dataverse Don’t code if you don’t need to When building
                        Power Platform solutions, first evaluate Platform capabilities and use as much of low-code
                        as possible.
                    </p>
                    <div class="blog-meta">
                        <div class="blog-info">
                            <time class="blog-created" datetime="2018-07-07">26 Mar, 2024</time>
                            <div class="blog-author">by Kinga Kazala</div>
                        </div>
                        <div class="blog-type">
                            <div class="blog-cat">
                                Community Post
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <li>
            <article class="card blog">
                <figure class="blog-media">
                    <img src="../../images/blog/blog-sample-1.webp" class="blog-media-img" Som alt text>
                </figure>
                <div class="blog-content">
                    <h2 class="blog-headline">
                        Power Platform extensibility options
                    </h2>
                    <p class="blog-excerpt">
                        Power Platform extensibility options series Power Platform extensibility options - this
                        article Power Apps Power Automate Dataverse Don’t code if you don’t need to When building
                        Power Platform solutions, first evaluate Platform capabilities and use as much of low-code
                        as possible.
                    </p>
                    <div class="blog-meta">
                        <div class="blog-info">
                            <time class="blog-created" datetime="2018-07-07">26 Mar, 2024</time>
                            <div class="blog-author">by Kinga Kazala</div>
                        </div>
                        <div class="blog-type">
                            <div class="blog-cat">
                                Community Post
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>
    </menu>
</div>