<div class="section-inner">
    <header class="section-header">
        <h1>Microsoft 365 &amp; Power Platform Community Calls</h1>
        <p>Stay up-to-date with the latest in Microsoft 365 &amp; Power Platform topics</p>
    </header>
    <menu class="section-grid">
        {{ $section := .Site.GetPage "section" "events" }}
        {{ range sort $section.Pages "Weight" "asc"}}
        <li>
            {{ partial "organisms/cards/event" .Params }}
        </li>
        {{ end }}
    </menu>
</div>