<div class="section-inner">
    <menu class="section-grid">
        <li class="teams-header">
            <header>
                <h1>Microsoft 365 &amp; Power Platform Community initiative coordinators</h1>
                <p>The community team is a virtual team consisting of Microsoft employees and community members
                    focused on helping the community make the best use of Microsoft products.</p>
                <p>We believe that by sharing guidance, tools, solutions, and samples, we better both the
                    community itself and the quality of solutions created by the community.</p>
                <p>This initiative is not about any one person or group of people: it is about improving things
                    for the greater good of the community.</p>
            </header>
        </li>
        {{ range sort .Site.Data.team.profiles "name"}}
        <li>
            {{ partial "organisms/cards/people" . }}
        </li>
        {{ end }}
        <li class="teams-end">
            <p>
                Start contributing today
            </p>
        </li>
    </menu>
</div>