{{ define "main" }}
<main>
    <section class="hero-main">
        <div class="hero-main-inner">
            <div class="logo-big">
                <span class="u-nowrap">Microsoft 365 &amp;</span><br><span class="fa-pp u-nowrap">Power
                    Platform</span><br><span class="fa-com u-nowrap">Community</span>
            </div>
            <div class="tagline">
                <p>Learn from others how to build apps on Microsoft 365 &amp; Power Platform.</p>
                <p>Don't reinvent the wheel. Focus on what truly matters for your organization.</p>
            </div>
            <div class="call2action">
                Changing the world one contribution at a time!
            </div>
        </div>
    </section>
    <section class="section-base">
        <div class="section-inner">
            <header class="section-header">
                <h1>Microsoft 365 &amp; Power Platform Community Calls</h1>
                <p>Stay up-to-date with the latest in Microsoft 365 &amp; Power Platform topics</p>
            </header>
            <menu class="section-grid">
                <li>
                    <article class="card event">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg ms-teams-2" aria-hidden="true">
                                                Join in Microsoft Teams
                                                <use xlink:href="/images/base-assets.svg#ms-teams-2"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                                                Calendar icon - Add to your Calendar
                                                <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                                                </use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                                                Play button - Visit Youtube
                                                <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                            </menu>
                        </div>
                        <div class="card-main">
                            <header class="card-header">
                                <h1>
                                    Microsoft 365 &amp; Power Platform Call
                                    <br>presented by Microsoft
                                </h1>
                            </header>
                            <div class="event-occurance">
                                Weekly on Tuesdays<br>
                                8:00 AM PT / 4:00 PM GMT
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="card event">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg ms-teams-2" aria-hidden="true">
                                                Join in Microsoft Teams
                                                <use xlink:href="/images/base-assets.svg#ms-teams-2"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                                                Calendar icon - Add to your Calendar
                                                <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                                                </use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                                                Play button - Visit Youtube
                                                <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                            </menu>
                        </div>
                        <div class="card-main">
                            <header class="card-header">
                                <h1>
                                    Viva Connections &amp; SharePoint Framework
                                    <br>presented by the Community
                                </h1>
                            </header>
                            <div class="event-occurance">
                                Bi-weekly on Thursdays<br>
                                7:00 AM PT / 3:00 PM GMT
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="card event">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg ms-teams-2" aria-hidden="true">
                                                Join in Microsoft Teams
                                                <use xlink:href="/images/base-assets.svg#ms-teams-2"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                                                Calendar icon - Add to your Calendar
                                                <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                                                </use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                                                Play button - Visit Youtube
                                                <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                            </menu>
                        </div>
                        <div class="card-main">
                            <header class="card-header">
                                <h1>
                                    Microsoft 365 &amp; Power Platform call
                                    <br>presented by the Community
                                </h1>
                            </header>
                            <div class="event-occurance">
                                Bi-weekly on Thursdays<br>
                                7:00 AM PT / 3:00 PM GMT
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="card event">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg ms-teams-2" aria-hidden="true">
                                                Join in Microsoft Teams
                                                <use xlink:href="/images/base-assets.svg#ms-teams-2"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                                                Calendar icon - Add to your Calendar
                                                <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                                                </use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                                                Play button - Visit Youtube
                                                <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                            </menu>
                        </div>
                        <div class="card-main">
                            <header class="card-header">
                                <h1>
                                    Power Platform Monthly Call
                                    <br>presented by the Community
                                </h1>
                            </header>
                            <div class="event-occurance">
                                Third Wednesday of every month<br>
                                8:00 AM PT / 4:00 PM GMT
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="card event">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                                                Calendar icon - Add to your Calendar
                                                <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                                                </use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                                                Play button - Visit Youtube
                                                <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                            </menu>
                        </div>
                        <div class="card-main">
                            <header class="card-header">
                                <h1>
                                    Office Add-ins
                                    <br>presented by Microsoft
                                </h1>
                            </header>
                            <div class="event-occurance">
                                Second Wednesday of every month<br>
                                7:00 AM PT / 3:00 PM GMT
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="card event">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg ms-teams-2" aria-hidden="true">
                                                Join in Microsoft Teams
                                                <use xlink:href="/images/base-assets.svg#ms-teams-2"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                                                Calendar icon - Add to your Calendar
                                                <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                                                </use>
                                            </svg>
                                        </span>
                                    </a></li>
                                <li class="card-iconbar-item"><a href="https://example.com"
                                        class="card-iconbar-link"><span class="icon">
                                            <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                                                Play button - Visit Youtube
                                                <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                            </menu>
                        </div>
                        <div class="card-main">
                            <header class="card-header">
                                <h1>
                                    Maturity Model for Microsoft 365
                                    <br>presented by the Community
                                </h1>
                            </header>
                            <div class="event-occurance">
                                Third Tuesday of every month<br>
                                7:00 AM PT / 3:00 PM GMT
                            </div>
                        </div>
                    </article>
                </li>
            </menu>
        </div>
    </section>
    <section class="section-base team">
        <div class="section-inner">
            <menu class="section-grid">
                <li class="teams-header">
                    <header>
                        <h1>Microsoft 365 &amp; Power Platform Community initiative coordinators</h1>
                        <p>The community team is a virtual team consisting of Microsoft employees and community members
                            focused on helping the community make the best use of Microsoft products.</p>
                        <p>We believe that by sharing guidance, tools, solutions, and samples, we better both the
                            community itself and the quality of solutions created by the community.</p>
                        <p>This initiative is not about any one person or group of people: it is about improving things
                            for the greater good of the community.</p>
                    </header>
                </li>
                {{ range sort .Site.Data.team.profiles "name"}}
                <li>
                    <article class="card people">
                        <div class="card-side">
                            <menu class="card-iconbar">
                                {{ with .github }}
                                <li class="card-iconbar-item">
                                    <a href="{{ . }}" class="card-iconbar-link">
                                        <span class="icon">
                                            <svg class="icon-svg icon-github" aria-hidden="true">
                                                Follow me on Github
                                                <use xlink:href="/images/base-assets.svg#icon-github"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                {{ end }}
                                {{ with .linkedin }}
                                <li class="card-iconbar-item"><a href="{{ . }}" class="card-iconbar-link"><span
                                            class="icon">
                                            <svg class="icon-svg icon-linkedin" aria-hidden="true">
                                                Connect on LinkedIn
                                                <use xlink:href="/images/base-assets.svg#icon-linkedin"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                {{ end }}
                                {{ with .twitter }}
                                <li class="card-iconbar-item"><a href="{{ . }}" class="card-iconbar-link"><span
                                            class="icon">
                                            <svg class="icon-svg icon-twitter" aria-hidden="true">
                                                Connect on Twitter
                                                <use xlink:href="/images/base-assets.svg#icon-twitter"></use>
                                            </svg>
                                        </span>
                                    </a></li>
                                {{ end }}
                            </menu>
                        </div>
                        <div class="card-main">
                            <div class="profile-data">
                                <img src="{{ .img }}" alt="Profile picture of {{ .name }}" class="profile-picture">
                                <span class="profile-name">
                                    <h1>{{ .name }}</h1>
                                    <div class="profile-company">{{ .company }}</div>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                {{ end }}
                <li class="teams-end">
                    <p>
                        Start contributing today
                    </p>
                </li>
            </menu>
        </div>
    </section>
    {{/*<div id="home-jumbotron" class="jumbotron text-center">
        <h1 class="title">{{ .Site.Title }}</h1>
    </div>*/}}
</main>
{{ end }}