<article class="card blog">

    <figure class="blog-media">
        <img src="{{ .imgSrc }}" class="blog-media-img" alt="{{ .imgAlt | htmlEscape }}">
    </figure>
    <div class="blog-content">
        <h2 class="blog-headline">
            {{ .headline }}
        </h2>
        <p class="blog-excerpt">
            {{ .description }}
        </p>
        <div class="blog-meta">
            <div class="blog-info">
                <time class="blog-created" datetime="2018-07-07">{{ .date }}</time>
                <div class="blog-author">by {{ .author }}</div>
            </div>
            <div class="blog-type">
                <div class="blog-cat">
                    {{ .type }}
                </div>
            </div>
        </div>
    </div>

</article>