<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . }}
</head>

<body class="pnp-backdrop">
    <div class="wrapper">
        {{- partial "header.html" . -}}
    </div>
    
    <main>
    {{- block "main" . }}{{- end }}
    </main>

    {{- partial "footer.html" . -}}
    {{- partial "script.html" . -}}

    {{ range .Site.Params.customJS }}
    {{ if $.Site.IsServer }}
    {{ $script := resources.Get . }}
    <script src="{{ $script.Permalink }}"></script>
    {{ else }}
    {{ $script := resources.Get . | minify | fingerprint }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ end }}
    {{ end }}

    {{ range .Site.Params.customRemoteJS }}
    {{ if $.Site.IsServer }}
    {{ $script := resources.GetRemote . }}
    <script src="{{ $script.Permalink }}"></script>
    {{ else }}
    {{ $script := resources.GetRemote . | minify | fingerprint }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ end }}
    {{ end }}

    {{ template "_internal/google_analytics.html" . }}

    {{ if and .Site.Params.googleTagManager .Site.Params.googleTagManager.id }}
    {{- partial "analytics/googletagmanager" . -}}
    {{ end }}
    
    {{ if and .Site.Params.applicationInsights .Site.Params.applicationInsights.connectionString }}
    {{- partial "analytics/applicationinsights" . -}}
    {{ end }}

    {{ if and .Site.Params.clarity .Site.Params.clarity.trackingCode }}
    {{- partial "analytics/clarity" . -}}
    {{ end }}

    {{ if not .Site.Params.disablePnPTelemetry }}
    {{- partial "analytics/pnptelemetry" . -}}
    {{ end }}

    {{- partial "body/extensions" . -}}
</body>

</html>