  /* grid-column: 5 / 13;
    grid-column-gap: 0;
    grid-template-columns: 1fr; 
    grid-column: 5 / 13;grid-column-gap: 0;grid-template-columns: 1fr;*/


.lnd_card_template {
    position: relative;
    min-height: 260px;
    border-radius: 10px;
    background-color: #fff;
    background-image: url("../images/5ea60a0b7899698471d1958f_placeholder-2.png");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
  }

.lnd_card_template._badge01 {
    background-image: url("../images/card-image-recognition-program-community-contributor-2022.png");
    background-position: 100% 50%;
  }

.lnd_card_template._badge02 {
background-image: url("../images/card-image-recognition-program-maintainer-2021.png");
background-position: 100% 50%;
}

.lnd_card_template._badgetba {
  background-image: url("../images/card-image-recognition-program-tba.png");
  background-position: 100% 50%;
}

#w-node-4f9c5f6177f7-2b0d0585 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 8;
    grid-column-end: 13;
    grid-template-columns: 1fr;
  }

@media screen and (max-width: 991px) {
    #w-node-4f9c5f6177f7-2b0d0585 {
        -ms-grid-column: span 8;
        grid-column-start: span 8;
        -ms-grid-column-span: 8;
        grid-column-end: span 8;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
      }
}

@media screen and (max-width: 767px) {
    #w-node-4f9c5f6177f7-2b0d0585 {
        -ms-grid-column: span 6;
        grid-column-start: span 6;
        -ms-grid-column-span: 6;
        grid-column-end: span 6;
      }
}

@media screen and (max-width: 479px) {
    #w-node-4f9c5f6177f7-2b0d0585 {
        -ms-grid-column: span 4;
        grid-column-start: span 4;
        -ms-grid-column-span: 4;
        grid-column-end: span 4;
      }
}

