@use '00-design-token/sg-index' as design-token;
@use '00-base/designtoken.vars' as dt;

.body-center{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 300px;
}

.show-gradient{
    margin: auto;
    width: 20svw;
    &:after{
        content: " ";
        display: block;
    }
}

.sg-color-box{
    box-sizing: border-box;
    display: flex;
    content: " ";
    height: 80px;
    width: 80px;
    aspect-ratio: 1 / 1;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 0.5rem;

}

.sg-color-grid{
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: repeat(auto, 80px);
    margin-inline: auto;
}

.color-stage{
    min-height: 100vh;
    min-width: 100vh;;
    display: block;
    content: " ";
    background: linear-gradient(-135deg, var(--dark-blue) 0%, var(--blue), var(--light-blue) )
}

@keyframes cycle-colors{
    0%{
        background-color: dt.$off-white;
    }
    10%{
        background-color: dt.$mid-gray;
    }
    20%{
        background-color: dt.$brown;
    }
    30%{
        background-color: dt.$yellow;
    }
    40%{
        background-color: dt.$orange;
    }
    50%{
        background-color: dt.$red;
    }
    60%{
        background-color: dt.$magenta;
    }
    70%{
        background-color: dt.$blue;
    }
    80%{
        background-color: dt.$teal;
    }
    90%{
        background-color: dt.$green;
    }
}

.card-test{
    max-width: 420px;
    height: auto;
    margin: 15vh auto;
    aspect-ratio: 16 / 9;
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}