
.box-content-light {
    z-index: 2;
    padding: 100px 5%;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, #fff));
    background-image: linear-gradient(180deg, transparent, #fff 80%);
    background-position: 0px 0px;
    background-size: auto;
    color: #fff;
  }

  .layouts-light {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: transparent;
    color: #000;
  }

  
.category-card-light {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 33.33%;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 4vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 1px solid #edebe9;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent)), url("../assets/speakers.png");
    background-image: linear-gradient(180deg, #fff,transparent), url("../assets/speakers.png");
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-transition: background-color 800ms cubic-bezier(.215, .61, .355, 1);
    transition: background-color 800ms cubic-bezier(.215, .61, .355, 1);
    color: #000;
    text-align: center;
    text-decoration: none;
  }
  
  .category-card-light:hover {
    background-color: #fff;
  }
  
  .category-card-light.category-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #111;
  }
  
  .category-card-light.category-card:hover {
    background-color: transparent;
  }
  
  .layout-content-card-light {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33.33%;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 4vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: #edebe9;
    background-color: #fff;
    text-decoration: none;
  }

  .layout-content-card-light:hover {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 240, 241, 0.2)), to(rgba(236, 240, 241, 0.2)));
    background-image: linear-gradient(180deg, rgba(236, 240, 241, 0.2), rgba(236, 240, 241, 0.2));
  }
  
  .layout-content-card-light.left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .layout-content-card-light.right {
    padding-bottom: 13vw;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }
  
  

  .layout-category-heading {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 32px;
    line-height: 150%;
    text-align: left;
  }
  
  .layout-category-heading.black {
    color: #000;
    font-weight: 600;
  }

  
.layout-category-nav {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 32px;
    height: 120px;
    margin-top: auto;
    margin-right: -1px;
    margin-bottom: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #444;
  }
  
  .layout-category-nav.light {
    border-color: #ecf0f1;
  }
  
  .layout-arrow-icon {
    width: 24px;
  }

  
.top-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-bottom: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #bdc3c7;
  }

  
.h3-heading {
    /* margin-bottom: 28px; */
    color: #fff;
    font-weight: 600;
  }
  
  .h3-heading.black {
    color: #000;
  }

  .text-transparent {
    color: #fff;
    font-size: 14px;
  }
  
  .text-transparent.black {
    color: #000;
  }

  
.button-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    margin-top: 16px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #ff003d;
    font-weight: 700;
    text-decoration: none;
  }
  
  .button-wrapper.w--current {
    color: transparent;
  }
  
  .button-text {
    position: relative;
    z-index: 1;
    margin-right: 0px;
    margin-left: 0px;
    color: #0078d4;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .button-text.white {
    color: #fff;
    text-transform: uppercase;
  }
  
  .button-arrow-2 {
    width: 15px;
    margin-right: 20px;
  }

  .speakertagline {
      color: #636e72;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      text-transform: uppercase;
  }

  .layout-content-card-light .social-link {
      text-decoration: none;
  }
  
  .layout-content-card-light .fdml {
    color:#636e72;
    opacity: 0.5;
    text-decoration: none;
  }

  .layout-content-card-light .fdml:hover {
    opacity: 1;
  }

  .w-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    color: white;
}

.w-background-video > video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
}
.w-background-video > video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
} 


  .background-video {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .background-video {
    min-height: 100vh;
  }

  .h06_h1 {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Segoeui, sans-serif;
    color: #fff;
    font-size: 72px;
    line-height: 114%;
    font-weight: 600;
    text-align: left;
  }

  
  
.h01 {
    position: relative;
    z-index: 50;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    padding: 100px 5% 120px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("https://assets.website-files.com/5f10caf59f32a4a64c04bc3c/5f10caf59f32a4ff4904bc58_flowbase_wave.png");
    background-position: 50% 120%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .h01_container {
    position: relative;
    top: 0px;
    z-index: 60;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1600px;
    -ms-flex: 0 1600px;
    flex: 0 1600px;
  }
  
  .h01_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    min-height: auto;
    padding-right: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .h01_block.image {
    position: absolute;
    top: 0%;
    right: -5%;
    bottom: 0%;
    padding-right: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .lnd_title.kicker {
    display: inline-block;
    max-width: none;
    padding: 2px 8px;
    border-radius: 2px;
    background-color: #3898ec;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .principles-grid {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 200px;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 25%;
    grid-template-columns: 1fr 1fr 1fr 25%;
    -ms-grid-rows: 1.5fr 0px 1.25fr 0px 1fr 0px 1fr;
    grid-template-rows: 1.5fr 1.25fr 1fr 1fr;
    background-color: #000;
    font-family: Segoeui, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }
  
  ._1-designprinciples {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
  }

  
.flex-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100.08%;
    height: 100%;
    padding: 4vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  
  .flex-div._0-0 {
    padding: 0vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  
.h3-heading {
    margin-bottom: 28px;
    color: #fff;
    font-weight: 600;
  }
  
  .h3-heading.black {
    color: #000;
  }

  
.white {
    color: #fff;
  }

  ._2-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../assets/514253-PI8Q21-576.jpg);
    background-size: cover;
  }
  .circle {
    width: 360px;
    height: 360px;
  }
  /* ._3-optimistic {
    padding: 8%;
  } */

  #w-node-cf7433036e76-6404bc3d {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  
#w-node-cf7433036e77-6404bc3d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  
  #w-node-cf7433036e7d-6404bc3d {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
  
  #w-node-b3f2603058bc-6404bc3d {
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  
  #w-node-cf7433036e83-6404bc3d {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
  }
  
  #w-node-cf7433036e86-6404bc3d {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  
  #w-node-cf7433036e8c-6404bc3d {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  
  #w-node-cf7433036e92-6404bc3d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  
  #w-node-a64bc933e6ab-6404bc3d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-63bae443928b-6404bc3d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-aa1714bf0adf-6404bc3d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  
  #w-node-321f1c842ce9-e204bc3f {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-321f1c842cf0-e204bc3f {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-321f1c842cf7-e204bc3f {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  
  #w-node-b956635c2f32-e204bc3f {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  
  #w-node-b956635c2f33-e204bc3f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  
  #w-node-b956635c2f39-e204bc3f {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
  }
  
  #w-node-b956635c2f45-e204bc3f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
  }
  
  #w-node-b956635c2f52-e204bc3f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  
  #w-node-de66c9dac32a-e204bc3f {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-66938f23311a-e204bc3f {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-a6a4e1befabc-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-1018eaadf212-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-89c81c4d84f5-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-9bd03e429f49-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-0995a2be4911-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-428185e1a45e-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-0960603f518e-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-9b628ba0b084-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  
  #w-node-c5861295b22d-0652f45a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  
._8-forwardthinking {
    background-color: #3A96DD;
    color: #000;
  }
  
  .heading-16 {
    color: #000;
  }
  
  ._9-accessible {
    background-color: #F4F4F4;
    color: #000;
  }
  
  ._6-image {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-image: url("../assets/bg1.png");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Segoeui, sans-serif;
    color: #33332d;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  
  ._7-image {
    background-color: #fff;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-position: 50% 50%;
    background-size: cover;
  }
  
  ._5-div {
    background-color: #636e72;
  }

  
._5-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0078d4;
    font-family: Segoeui, sans-serif;
    color: #fff;
    text-align: center;
  }

  
  .image-12 {
    position: static;
    left: -8px;
    width: 120%;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  
.flex-left {
    width: 50%;
    padding: 4vw;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  
  .flex-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .image-14 {
    display: block;
    margin-top: 40px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  
  
._4-dynamic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #EFF6FC;
  }
  
  ._0-0 {
      background-image: url(../assets/earth-935468_1920.jpg);
      background-repeat:no-repeat;
      background-size: cover;
  }

  H1.sz-day__title {
    margin-top: 15px;
    margin-bottom: 15px;
    /* color: #000;
    font-size: 24px; 
    line-height: 32px;
    font-weight: 600;*/
    text-transform: uppercase;
    font-family: Segoeui, sans-serif;
    color: #0078d4;
    font-size: 14px!important;
    line-height: 25px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
  }

  #sessionize .sz-day__title {
    padding: 12px 4px;
    padding-top: 0px!important;
    font-size: 32px;
    text-align: left!important;
}

  #sessionize .sz-cssgrid .sz-session--service .sz-session__card {
    border-top-color: #0078d4!important;
    background: #0078d4!important;
}

#sessionize .sz-cssgrid .sz-session__card {
  padding: 12px;
  border-top-color: #3898ec!important;
  color: #EEE;
  background: #3898ec!important;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  overflow: hidden;
}

#sessionize .sz-session__time {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  opacity: unset!important;
}

#sessionize .sz-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 120, 212, 0.9)!important;
}

#sessionize .sz-session.sz-session--full .sz-session__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1.5;
    color: #000!important;
    font-size: 24px!important;
    line-height: 32px!important;
    font-weight: 600!important;
    text-transform: none;
}

#sessionize .sz-session.sz-session--full .sz-session__speakers li {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: #0078d4!important;
}

#sessionize .sz-speaker.sz-speaker--full .sz-speaker__name {
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
  color: #0078d4!important;
}

#sessionize .sz-speaker.sz-speaker--full .sz-speaker__tagline {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: #0078d4!important;
}

#sessionize .sz-speaker__links .sz-speaker__link {
  display: block;
  padding: 4px;
  border: 1px solid rgba(17,17,17,0.1);
  font-size: 20px;
  line-height: 20px;
  color: #0078d4!important;
  border-radius: 2px;
  transition: all .15s ease-in;
}

#sessionize .sz-speaker__links .sz-speaker__link:hover, #sessionize .sz-speaker__links .sz-speaker__link:focus, #sessionize .sz-speaker__links .sz-speaker__link:active {
  opacity: 1;
  color: #fff!important;
  background-color:  #0078d4!important;
  box-shadow: none;
}

#sessionize .sz-speaker.sz-speaker--full .sz-speaker__sessions li:before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: #0078d4!important;
  content: "";
}

#sessionize .sz-session.sz-session--full .sz-session__room {
  display: inline-block;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff!important;
  background-color: #0078d4!important;
  border-radius: 2px;
}

#sessionize .sz-session.sz-session--full .sz-session__time {
  display: inline-block;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: none;
  opacity: 1;
  color: #fff!important;
  background-color: #0078d4!important;
  border-radius: 2px;
}

#sessionize .sz-speaker.sz-speaker--full .sz-speaker__bio {
  margin-top: 20px!important;
  color: #000!important;
    font-size: 14px!important;
}

#sessionize .sz-session.sz-session--full .sz-session__description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px!important;
  line-height: 1.5;
}
