{{ define "main" }}
<main>
    <section class="hero-main">
        {{ partial "home-page-sections/hero.html" . }}
    </section>
    <section class="section-base blog" id="blog">
        {{ partial "home-page-sections/blog.html" . }}
    </section>
    <section class="section-base" id="community">
        {{ partial "home-page-sections/community.html" . }}
    </section>
    <section class="section-base blog" id="guidance">
        {{ partial "home-page-sections/guidance.html" . }}
    </section>

    <section class="section-base blog" id="samples">
        {{ partial "home-page-sections/samples.html" . }}
    </section>

    <section class="section-base blog" id="sdks">
        {{ partial "home-page-sections/sdks.html" . }}
    </section>

    <section class="section-base blog" id="tools">
        {{ partial "home-page-sections/tools.html" . }}
    </section>

    <section class="section-base blog" id="extensions">
        {{ partial "home-page-sections/extensions.html" . }}
    </section>

    <section class="section-base blog" id="forums">
        {{ partial "home-page-sections/forums.html" . }}
    </section>

    <section class="section-base team" id="team">
        {{ partial "home-page-sections/team.html" . }}
    </section>
</main>
{{ end }}