body {
    margin: 0;

    font-family: Parker, "Segoe UI", "Segoe Sans", sans-serif;
    // text-rendering: geometricPrecision;
    scroll-behavior: smooth;

}

button,
input,
textarea {
    font-family: inherit;
}

.pnp-backdrop {
    background: url(/images/keyart-bg.webp);
    background-size: contain;
    background-size: cover;

    background-position: bottom left;
    background-attachment: fixed;
}


