<div class="card-side">
    <menu class="card-iconbar">
        {{ with .joinUrl }}
        <li class="card-iconbar-item"><a href="{{ . }}" class="card-iconbar-link"><span class="icon">
                    <svg class="icon-svg ms-teams-2" aria-hidden="true">
                        Join in Microsoft Teams
                        <use xlink:href="/images/base-assets.svg#ms-teams-2"></use>
                    </svg>
                </span>
            </a></li>
            {{ end }}
        {{ with .inviteUrl }}
        <li class="card-iconbar-item"><a href="{{ . }}" class="card-iconbar-link"><span class="icon">
                    <svg class="icon-svg icon-calendar-ltr-filled" aria-hidden="true">
                        Calendar icon - Add to your Calendar
                        <use xlink:href="/images/base-assets.svg#icon-calendar-ltr-filled">
                        </use>
                    </svg>
                </span>
            </a></li>
            {{ end }}
            {{ with .youtubeUrl }}
        <li class="card-iconbar-item"><a href="{{ . }}" class="card-iconbar-link"><span class="icon">
                    <svg class="icon-svg icon-video-clip-filled" aria-hidden="true">
                        Play button - Visit Youtube
                        <use xlink:href="/images/base-assets.svg#icon-video-clip-filled"></use>
                    </svg>
                </span>
            </a></li>
            {{ end }}
    </menu>
</div>