@use '../00-base/designtoken.vars' as dt;

.site-logo{
    font-weight: 700;
    font-size: clamp(1rem, 1.75vw, 1.25rem);
    line-height: 0.85;
    color: dt.$dark-blue;
    padding-block: 1em;
}

.site-logo-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4svw;
    text-decoration: none;
    height: inherit;
    @media screen and (max-width: 1024px) {
        grid-column: 1 / span 3;
    }
}