.wrapper {
    .page-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(255,255,255,0.25);
        backdrop-filter: blur(10px) saturate(120%);
    }
}