<header class="page-header">
    <a class="site-logo-link" href="{{ .Site.BaseURL }}">

        <div class="site-logo">
            <span class="u-nowrap">Microsoft 365 &amp;</span> Power Platform Community
        </div>
    </a>

    <nav class="nav">
        <button class="hamburger" tabindex="-1">
            <svg class="active">
                <title id="ham-title-active">Click to close - Hamburger in form of arrows</title>
                <use xlink:href="/images/base-assets.svg#hamburger"></use>
            </svg>
            <svg class="inactive">
                <title id="ham-title-inactive">Click to open - Hamburger in form of three stripes</title>
                <use xlink:href="/images/base-assets.svg#hamburger-inactive"></use>
            </svg>
        </button>
        <menu class="nav-menu primary" aria-label="Primary navigation" aria-expanded="true">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a href="{{ .URL }}" class="nav-link">{{ $text := print .Name | safeHTML }}
                    {{ $text }}</a>
            </li>
            {{ end }}
        </menu>
    </nav>
</header>