@use '../00-base/designtoken.vars' as dt;

.section-inner {
    max-width: 1920px;
    margin: auto;
}

.section-grid {
    max-width: 1680px;
    margin: auto 4vw;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1rem, 4vw, 5rem);
    padding: 0;
    transition: all .125s ease-in-out;
    grid-template-rows: 1fr min-content;

    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.section-header {
    margin-block: 8vh;
    margin-block: 8svh;
    max-width: 1680px;
    margin-inline: 4vw;

    h1 {
        font-size: clamp(1.5rem, 3vw, 5rem);
        grid-column: 1 / span 2;
        text-align: center;
        margin-top: 2vw;
        font-weight: 700;
        color: dt.$dark-blue;
        margin-bottom: .25em;

        @media screen and (max-width: 1024px) {
            grid-column: 1 / span 1;
            font-size: clamp(1.25rem, 3vw, 5rem);
        }
    }

    p {
        font-size: clamp(1rem, 2vw, 5rem);
        text-align: center;
    }
}

.section-base {
    background-image: url(/images/side-bg-right.webp), url(/images/side-bg-left.webp);
    background-position: right top, left top;

    @media screen and (max-width: 720px) {
        background-position: right top, left bottom;
    }

    background-repeat: no-repeat;
    min-height: 80vh;

    &.team {
        margin-top: 20vh;
        margin-bottom: 25vh;
    }

    &.blog {
        .section-grid {
            grid-template-columns: repeat(4, 1fr);
        } 
    }
}