@use '../00-base/designtoken.vars' as dt;

.hero-main {
    min-height: 75vh;
    margin-top: 10vw;
    // background: linear-gradient(to bottom, dt.$pure-white 85%, dt.$blue),
    //     linear-gradient(-175deg, dt.$pure-white 85%, dt.$teal),
    //     linear-gradient(-195deg, dt.$pure-white 85%, dt.$purple);
    background-blend-mode: multiply;
    background-size: cover, cover, cover;
    @media screen and (max-width: 1024px){
        margin-top: 10svh;
        margin-bottom: 25svh;;
    }
}

.hero-main-inner {
    padding: 4vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6vw;
    max-width: 1920px;
    margin: 0 auto;
    transition: all 0.125s linear;
    @media screen and (max-width: 1024px){
        grid-template-columns: 1fr;
        gap: 3vh;
    }
}

.tagline {
    font-size: clamp(1.25rem, 2vw, 2.75rem);
    font-weight: 500;

    p,
    p+p {
        margin: 0;
    }
    @media screen and (max-width: 1024px){
        font-size: clamp(1rem, 2vw, 2rem);
    }
}

.call2action {
    font-size: clamp(1.5rem, 3vw, 5rem);
    grid-column: 1 / span 2;
    text-align: center;
    margin-top: 2vw;
    font-weight: 600;
    color: dt.$dark-blue;
    @media screen and (max-width: 1024px){
        grid-column: 1 / span 1;
        font-size: clamp(1.25rem, 3vw, 5rem);
    }
}