<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{ $patternCss := resources.Get "css/pattern-scaffolding.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $patternCss.Permalink }}">
    {{ $baseAssets := resources.Get "images/base-assets.svg" }}
    <link rel="prefetch" href="{{ $baseAssets.Permalink }}" as="image" type="image/svg+xml" media="all">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>